#footer{
text-align: center;
}


#top {
    height: 100%;
    
}

#evo {
    color: mediumpurple;
}

#tech {
    color: red;
}

#purple {
    color: #3152b0;
}

#red {
    color: #F05F40;
}
.testimonial-item {
  text-align: center;
}
/*.testimonial-item img {
  width: 120px;
  height: 140px;
  border-radius: 50%;
}*/
.test img{
  width: 90%;
  height: 30%;
  border-radius: 0px;

}
.testimonial-item .testimonial-text h3 {
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}
.testimonial-item .testimonial-text span {
  font-size: 15px;
  color: #999;
}
.testimonial-item .testimonial-text p {
  font-size: 24px;
  font-weight: 400;
  padding: 20px 10px 20px 10px;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.5;
  color: #fff;
}
.owl-theme .owl-controls .owl-page span {
  background: #4676fa;
}
#portfolio{
  color: #fff;
  background-color: #3152b0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

.btn-common {
  border: 2px solid #4676fa;
  background-color: #4676fa;
  position: relative;
  z-index: 1;
}